.contact {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/contact.jpeg');
  background-size: cover;
  background-position: center;
}

.contact .rightSide {
  flex: 50%;
  background-color: rgba(18, 22, 25, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
}

.contact .rightSide h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: whitesmoke;
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 400px;
}

form input,
form textarea {
  height: 40px;
  width: 100%; /* Adjusted width to occupy the full container */
  margin-bottom: 15px; /* Added space between input fields */
  border: none;
  border-bottom: 1px solid #ffffff;
  color: whitesmoke;
  background-color: transparent;
}

input::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

form input:focus,
textarea:focus {
  outline: none;
}

form label {
  color: grey;
}

form button {
  width: 100%; /* Adjusted width to occupy the full container */
  height: 40px;
  border: none;
  background-color: #ffffff;
  color: #121619;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Added smooth transition */
}

form button:hover {
  background-color: #121619;
  color: whitesmoke;
}
